@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Life Insurance Calulator!</h1>
    <p class="lead">Go to the calculate page to get a life insurance quote.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Register with us</h2>
        <p>
            You can register and account with us. I have no idea what it will do but it could be a laugh.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Login</h2>
        <p>Previously registered with us? Well you can log in with the link above... I think!</p>
    </div>
</div>